@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.productos{
    width: 100%;
    background: url(../back.png);
    background-repeat: repeat-y;
    padding-bottom: 4em;
    font-family: 'Bruno Ace SC', cursive;
}